@import '~antd/dist/antd.css';

:root {
  --timeline-baseline: 10%;
}

.App {
  padding: 10px;
}

.page {
  padding: 15px;
  margin: 0 auto;
  max-width: 750px;
}

/* HTML Elements */

img {
  max-width: 100%;
}

li h3 {
  display: inline-block;
  margin-bottom: 3px;
}

p {
  font-size: 1rem;
}

code {
  background-color: #e6f7ff;
  border: 1px solid #bae7ff;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 0.95rem;
}

article {
  margin-top: 10px;
}

/* Components */

.icon {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

.subtitle {
  color: rgba(0, 0, 0, 0.5);
}

.ant-tag {
  margin-bottom: 3px;
}

/* Pages */

.page-header {
  padding-left: 0;
  padding-right: 0;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-item {
  text-align: center;
  border-radius: 10px;
  margin: 20px 10px;
}

.project-item:hover {
  box-shadow: 0 0 10px 1px #DADADA;
}

.ant-avatar {
  margin-right: 7px;
  margin-bottom: 4px;
}